<div class="outer-box">
  <div #box class="board-box">
    <canvas #boardcanvas (mousedown)="onMousedown($event)">
      Canvas for the Checkers Board
    </canvas>
    <div style="display:none;">
      <img #bd height="20vh" src="assets/board/bd.png" width="20vh"/>
      <img #bp height="20vh" src="assets/board/bp.png" width="20vh"/>
      <img #wd height="20vh" src="assets/board/wd.png" width="20vh"/>
      <img #wp height="20vh" src="assets/board/wp.png" width="20vh"/>
    </div>
  </div>
</div>
