.waiting{
  margin: 5px 10% 5px 10%;
  border-radius: 5px;
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.active{
  margin: 5px 10% 5px 10%;
  border-radius: 5px;
  background-color: deepskyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.padded-button {
  margin: 5px;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-box{
  display: flex;
}

.timer-sub{
  width: 20%;
}
