.scroll {
  overflow-y: auto;
  height: 100vh;
}

.scroll-block {
  height: 570px;
}

.overview {
}

.waiting {
  background-color: var(--six);
}

.active {
  background-color: var(--seven);
}

.active,
.waiting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-box {
}

.timer-sub {
}
