<div class="content">
  <form (submit)="isLogin ? login() : register()" class="form">
    <h1 *ngIf="isLogin">Login to your Account</h1>
    <h1 *ngIf="!isLogin">Register a new Account</h1>
    <input #email_input *ngIf="!isLogin" autocomplete="section-auth email" name="email" placeholder="E-Mail">
    <input #name_input autocomplete="section-auth username" name="username" placeholder="Username">
    <input #password_input autocomplete="section-auth password" placeholder="Password" type="password">
    <button *ngIf="isLogin">LOGIN</button>
    <button *ngIf="!isLogin">REGISTER</button>
    <a *ngIf="isLogin" routerLink="/register">Don't have an Account? Register instead</a>
    <a *ngIf="!isLogin" routerLink="/login">Already have an Account? Login instead</a>
  </form>
</div>

