<div class="content-transparent">
  <h1>Info</h1>
  <div class="content">
    <p>
      Checkers Online is an Application built in<a href="https://angular.io">Angular</a>.
    </p>
    <p>
      On the Website, you can:
    </p>
    <ul class="info-list">
      <li>create and manage your own account</li>
      <li>start statically or dynamically timed games against random opponents or friends</li>
      <li>add, manage and play with your friends</li>
      <li>access your history of games</li>
    </ul>
    <p>
      If you have questions, feedback or concerns <a href="mailto: inf21086@lehre.dhbw-stuttgart.de">send us an
      email</a>.
    </p>
  </div>
</div>
