<div class="content-transparent">
  <div class="content">
    <h1>Info</h1>
    <div class="content">
      <p class="bold-text">Login Tab</p>
      <p class="info-text">login to your account or register a new one</p>
    </div>
    <div class="content">
      <p class="bold-text">Profile Tab</p>
      <p class="info-text">manage your account details and see your whole game history in one place (login required)</p>
    </div>
    <div class="content">
      <p class="bold-text">Play Tab</p>
      <p class="info-text">join up to 20 games by code or start your own static or dynamic timed games</p>
    </div>
    <div class="content">
      <p class="bold-text">Friends Tab</p>
      <p class="info-text">manage your friends and see pending requests (login required)</p>
    </div>
    <div class="content">
      <p class="bold-text">Players Tab</p>
      <p class="info-text">search for all players, view their games and request a friendship with them (login required)</p>
    </div>

    <p>
      If you have questions, feedback or concerns<a href="mailto: inf21086@lehre.dhbw-stuttgart.de">send us an
      email</a>.
    </p>
  </div>
</div>
