
.info{
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 5px;
  height: 30px;
  min-width: 300px;
}

.user{
  margin: 5px;
}

.board {
  position: fixed;
  top: 120px;
  bottom: 80px;
  left: 5px;
  right: 5px;
}

.black {
  color: black;
}

.white {
  color: white;
}
