
<div class="content finished {{won ? 'won' : 'lost' }}" *ngIf="won !== null">
  <h1>{{won ? 'You won!' : 'You lost!' }}</h1>
  <div>{{end_reason}}</div>
  <a class="icon-button aaa aa" routerLink="/play">chevron_right</a>
</div>
<div class="content finished " *ngIf="end">
  <h1>Game aborted.</h1>
  <div>{{end_reason}}</div>
  <a class="icon-button" routerLink="/play">chevron_right</a>
</div>
<div class="content page-game {{won !== null || end ? 'opacity' : ''}}">
  <div class="content information" *ngIf="game?.waiting">
    <button class="icon-button" (click)="copy()">content_copy</button>
    <div class="game-info-list">
      <div class="game-info">
        <div class="game-info-value">
          {{key}}
        </div>
        <div class="game-info-type">
          KEY
        </div>
      </div>
    </div>
    <button class="icon-button" (click)="share()">ios_share</button>
  </div>
  <div class="content information" *ngIf="!game?.waiting">
      <div class="game-info-list">
        <div class="game-info">
          <div class="game-info-value">
            <app-timer #white_timer></app-timer>
          </div>
          <a *ngIf="whitePlayer" class="game-info aaa" routerLink="/player/{{whitePlayer.id}}" class="game-info-type">
            WHITE ({{whitePlayer.username}})
          </a>
          <div *ngIf="!whitePlayer" class="game-info" class="game-info-type">
            WHITE (Guest)
          </div>
        </div>
      </div>
      <div class="game-info-list">
        <div class="game-info optional">
          <div class="game-info-value">
            {{key}}
          </div>
          <div class="game-info-type">
            KEY
          </div>
        </div>
        <div class="game-info">
          <div class="game-info-value {{hasNextTurn()? 'yes' : 'no'}}">
            {{hasNextTurn() ? "YOU" : "ENEMY"}}
          </div>
          <div class="game-info-type">
            NEXT TURN
          </div>
        </div>
        <div class="game-info optional">
          <div class="game-info-value">
            {{game?.timeType ? "STATIC" :
            "DYNAMIC"}}
          </div>
          <div class="game-info-type">
            TYPE
          </div>
        </div>
      </div>
      <div class="game-info-list">
        <div class="game-info">
          <div class="game-info-value">
            <app-timer #black_timer></app-timer>
          </div>
          <a *ngIf="blackPlayer" class="game-info" routerLink="/player/{{blackPlayer.id}}" class="game-info-type">
            BLACK ({{blackPlayer.username}})
          </a>
          <div *ngIf="!blackPlayer" class="game-info" class="game-info-type">
            BLACK (Guest)
          </div>
        </div>
      </div>
  </div>
  <div class="content-transparent">
    <app-board [turnBoard]="playerColor === -1" #board></app-board>
  </div>
</div>


