
<div class="info" *ngIf="!game?.waiting">
  <div>
    <img style="display: none;" #wp src="assets/board/wp.png" height="32px"/>
    <div class="user white">
      <p class="name white">WHITE</p>
      <app-timer #player_timer></app-timer>
    </div>
  </div>
  <div>
    <div class="user black">
      <p class="name black">BLACK</p>
      <app-timer #enemy_timer></app-timer>
    </div>
    <img style="display: none;" #bp src="assets/board/bp.png" height="32px"/>
  </div>
</div>
<div class="info" *ngIf="game?.waiting">
  <p>
    Waiting for Opponent to join...
  </p>
</div>

<app-board #board ></app-board>

