<div class="content">
  <div class="mode-select">
    <button #join_casual (click)="switchJoinCasual()"
            [classList]="state==='join_casual' ? 'highlight switch': 'switch'">Join Casual Game
    </button>
    <button #join_custom (click)="switchJoinCustom()"
            [classList]="state==='join_custom' ? 'highlight switch': 'switch'">Join Custom Game
    </button>
    <button #create_custom (click)="switchCreateCustom()"
            [classList]="state==='create_custom' ? 'highlight switch': 'switch'">Create Custom Game
    </button>
  </div>
  <div class="content">
    <div *ngIf="state==='join_custom'" class="sub-box">
      <input #game_key class="game-key-input" placeholder="GAME KEY">
      <button (click)="enterGame()" class="finish-button">Join</button>
    </div>
    <div *ngIf="state==='join_casual' || state==='create_custom' ">
      <div class="sub-box">
        <button (click)="switchType(0)" [classList]="type===0 ? 'highlight switch': 'switch'">
          Static Game
        </button>
        <button (click)="switchType(1)" [classList]="type===1 ? 'highlight switch': 'switch'">
          Dynamic Game
        </button>
      </div>
      <div class="slider-box">
        <div class="time-info-text">
          <div>Time:</div>
          <div>{{type ? DYN_TIME_MAP[time] : STAT_TIME_MAP[time]}}</div>
        </div>
        <input #time_slider (input)="updateTime()" class="slider" max="{{STAT_TIME_MAP.length-1}}" min="0" type="range"
               value="2">
      </div>
      <div *ngIf="type===1" class="slider-box">
        <div class="time-info-text">
          <div>Increment:</div>
          <div>{{DYN_INC_MAP[increment]}}</div>
        </div>
        <input #increment_slider (input)="updateIncrement()" class="slider" max="{{DYN_INC_MAP.length-1}}" min="0" min="0"
               type="range" value="2"
        >
      </div>
      <div class="sub-box">
        <button (click)="enterGame()" class="finish-button">{{state === 'join_casual' ? "Join" : "Create"}}</button>
      </div>
    </div>

  </div>
</div>
<app-active-games-overview></app-active-games-overview>

