@import url("../../../../styles.css");

.highlight {
  background-color: deepskyblue;
}

.switch {
  padding: 10px;
  border: none;
  margin: 10px;
}

.game-key-input {
  text-transform: uppercase;
  text-align: center;
  margin: 5px;
  min-height: 70%;
}

.select-box {
  flex-direction: column;
}

.slider {
  width: 50%;
}

.sub-box {
  width: calc(100% - 40px);
  margin: 5px;
  display: flex;
  justify-content: center;
}

.slider-box {
  width: 100%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.finish-button {
  min-width: 10%;
  font-weight: bold;
}

.time-info-text {
  font-size: 20px;
  margin: 10px;
  font-family: Bahnschrift;
  color: black;
}
