.highlight{
  background-color: aqua;
}

.switch{
  padding: 8px;
  border: none;
  margin: 8px;
}

input{
  text-transform: uppercase;
  padding: 2px;
  margin: 8px;
  text-align: center;
}

.box{
  width: calc(100% - 32px);
  display: flex;
  justify-content: center;
  margin: 8px;
  background-color: olivedrab;
  border-radius: 4px;
  padding: 8px;
}

.select-box{
  flex-direction: column;
}

.slider{
  width: 50%;
}

.sub-box{
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
