@import url("../../../styles.css");

.footer {
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100%;
  flex-basis: auto;
  background-color: var(--two);
  line-height: 56px;
  display: flex;
}



.item-with-icon{
  display: flex;
  flex-direction: column-reverse;
}


