.footer {
  background-color: #000000;
  line-height: 56px;
  text-align: center;
  color: #999999;
}

ul{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: white;
}
