<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      xmlns="http://www.w3.org/1999/html"/>
<div class="footer">
  <ul class="list">
      <li><a class=item-with-icon routerLink="/game" routerLinkActive="active">Games<span class="material-symbols-outlined">stadia_controller</span></a></li>
      <li *ngIf="!userService.isUser()"><a class=item-with-icon routerLink="/player" routerLinkActive="active">Players<span class="material-symbols-outlined">group</span></a></li>
      <li *ngIf="userService.isUser()"><a class=item-with-icon routerLink="/friends" routerLinkActive="active">Friends<span class="material-symbols-outlined">group</span></a></li>
      <li><a class=item-with-icon routerLink="/play" routerLinkActive="active">Play<span class="material-symbols-outlined">play_circle</span></a></li>
      <li *ngIf="!userService.isUser()"><a class=item-with-icon routerLink="/login" routerLinkActive="active">Login<span class="material-symbols-outlined">login</span></a></li>
      <li *ngIf="userService.isUser()"><a class=item-with-icon routerLink="/profile" routerLinkActive="active">Profile<span class="material-symbols-outlined">manage_account</span></a></li>
  </ul>
</div>
