@import url("../../../styles.css");

.footer {
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: calc(100% - 20px);
  min-width: 300px;
  flex-basis: auto;
  background-image: linear-gradient(to bottom right, darkgray, black);
  line-height: 56px;
  text-align: center;
  color: lightgray;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  display: flex;
}

.list{
  width: 100%;
}

.item-with-icon{
  font-family: Bahnschrift;
  min-width: 60px;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  line-height: 100%;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  flex-direction: row;
}

a {
  margin: auto;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: deepskyblue;
}

a:active {
  color: deepskyblue;
}
