:host {
  min-height: 100vh;
}

.main {
  width: 100vw;
  height: calc(100vh - 128px);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.page{
  flex-grow: 1;
  max-width: 1000px;
  max-height: 100%;
}
