.won {
  background-color: var(--seven);
}

.lost {
  background-color: var(--five);
}

.content-transparent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 24px);
}

a {
  color: var(--secondary_dark);
}

.link-symbol {
  width: 40px;
  font-size: 24px;
}

.game-info-list {
  max-width: 80vw;
}
