<div class="content-transparent" *ngIf="games.length <= 0">
  No games so far...
</div>
  <ul *ngIf="games.length > 0">
    <li *ngFor="let game of games" class="content {{isWinner(game) ? 'won' : 'lost'}}">
      <div class="game-info-list">
        <div class="game-info">
          <div class="game-info-value">
            {{isWinner(game) ? 'WON' : 'LOST'}}
          </div>
          <div class="game-info-type">
            RESULT
          </div>
        </div>
        <div class="game-info">
          <div class="game-info-value">
            {{game.timeType}}
          </div>
          <div class="game-info-type">
            TYPE
          </div>
        </div>
        <div class="game-info">
          <div class="game-info-value">
            {{getTimeString(game.start)}}
          </div>
          <div class="game-info-type">
            TIME
          </div>
        </div>
        <a class="game-info" routerLink="/player/{{getEnemyID(game)}}">
        <div class="game-info-value">Unknown</div>
        <div class="game-info-type">OPPONENT</div>
      </a>
      </div>
      <div class="game-info-list">

        <a class="game-info link-symbol"
           routerLink="/game/{{game.id}}"><div class="icon-button">chevron_right</div></a>
      </div>

    </li>
  </ul>


