
.full {
  display: flex;
  flex-direction: column;
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: min-content;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-info-list {
  justify-content: center;
}

a {
  padding: 0;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
