
<div class="content full">
  <div class="content information">
    <div>
      WHITE
      <app-timer #white_timer></app-timer>
    </div>
    <div>
      BLACK
      <app-timer #black_timer></app-timer>
    </div>
  </div>
    <app-board #board></app-board>
  <div class="content buttons">
    <button class="icon-button" (click)="jumpStart()">first_page</button>
    <button class="icon-button" (click)="previousMove()">chevron_left</button>
    <button class="icon-button" (click)="nextMove()">chevron_right</button>
    <button class="icon-button" (click)="jumpEnd()">last_page</button>
  </div>

</div>

