<div class="header">
  <ul class="nav-list">
    <li class="nav-element">
      <a (click)="goToLastPage()" class="nav-link">
      <span class="material-symbols-outlined">
      chevron_left
      </span>
      </a>
    </li>
    <li class="nav-element">
      <a class="nav-link title" routerLink="/">
        CheckersOnline
      </a>
    </li>
    <li class="nav-element">
      <a class="nav-link" routerLink="/info">
      <span class="material-symbols-outlined">
      info
      </span>
      </a>
    </li>
  </ul>
</div>
