.header {
  background-color: black;
  padding: 10px 20px;
  height: 56px;
}

.home-menu-link {
  padding: 5px;
  font-size: 40px;
  font-family: Bahnschrift;
  color: lightgray;
  text-decoration: None;
}

.home-menu-link:hover {
  background-color: deepskyblue;
}

.header-nav {
  color: black;
  display: inline-block;
  line-height: 56px;
}

.left {
  float: left;
}

.right {
  float: right;
}
