<div class="header">
  <div class="header-nav left">
    <a class="home-menu-link" routerLink="/" routerLinkActive="active">
      CheckersOnline
    </a>
  </div>
  <div class="header-nav right">
    <a class="home-menu-link" routerLink="/settings" routerLinkActive="active">
      <span class="material-symbols-outlined">
      info
      </span>
    </a>
    <button class="logout-button" (click)="logout()" *ngIf="userService.isUser()">
      <span class="material-symbols-outlined">
        logout
      </span>
    </button>
  </div>
</div>
