
.history{
  display: flex;
  flex-direction: column;
}

h1{
  width: 100%;
  padding: 0;
  margin:  16px 0 16px 0;
  text-align: center;
}

.overflow{
  max-height: calc(100vh - 128px);
  overflow: auto;
}
