.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-transparent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  flex-grow: 1;
  width: calc(100% - 16px);
  max-width: calc(100% - 16px);
}


.profile-link {
  max-width: 300px;
  width: 300px;
}

