.search{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-transparent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input{
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
}


.profile-link{
  max-width: 300px;
  width: 300px;
}

