ul{
  margin: 0 0 32px;
}

.online{
  color: var(--seven);
}

.offline{
  color: var(--five);
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty{
  padding: 8px;
}

.h1{
  font-size: 20px;
}
