<div class="content-transparent">
  <ul *ngIf="incomingRequests.length > 0">
    <h1 class="content-transparent">Friend Requests</h1>
    <li *ngFor="let friend of incomingRequests" class="content request">
      <a class="profile-link" routerLink="/player/{{friend.id}}">{{friend.username}}</a>
      <div>
        <button (click)="friendsService.acceptFriend(friend.id)" class="icon-button">check_circle</button>
        <button (click)="friendsService.deleteFriend(friend.id)" class="icon-button">block</button>
      </div>
    </li>
  </ul>
  <ul>
    <h1 class="content-transparent">Friends</h1>
    <div *ngIf="onlineFriends.length <= 0 && offlineFriends.length <= 0" class="content-transparent empty">
      You do not have any friends. Go find some friends in the Players-Tab!
    </div>
    <li *ngFor="let friend of onlineFriends" class="content active">
      <a class="profile-link" routerLink="/player/{{friend.id}}">{{friend.username}}</a>
      <div class="online">ONLINE</div>
      <button (click)="friendsService.deleteFriend(friend.id)" class="icon-button">person_remove</button>
    </li>
    <li *ngFor="let friend of offlineFriends" class="content active">

      <a class="profile-link" routerLink="/player/{{friend.id}}">{{friend.username}}</a>
      <div class="offline">OFFLINE</div>
      <button (click)="friendsService.deleteFriend(friend.id)" class="icon-button">person_remove</button>
    </li>
  </ul>
  <ul *ngIf="outgoingRequests.length > 0">
    <h1 class="content-transparent">Pending Requests</h1>
    <li *ngFor="let friend of outgoingRequests" class="content pending">

      <a class="profile-link" routerLink="/player/{{friend.id}}">{{friend.username}}</a>
      <button (click)="friendsService.deleteFriend(friend.id)" class="icon-button">close</button>
    </li>
  </ul>
</div>
