<div class="content">
  <div class="text-display">
    <div class="text-field">{{name}}</div>
    <div class="flex-row">
      <div class="text-field">{{value}}</div>
      <button (click)="switchEdit()" class="icon-button">edit</button>
    </div>
  </div>
  <form (submit)="update()" *ngIf="edit" class="form-display">
    <div>
      <div *ngIf="!inputsMatch">
        {{name}}s do not match.
      </div>
      <input #input_old *ngIf="needsOldValue"
             autocomplete="section-{{name.toLowerCase()}} old-{{name.toLowerCase()}}"
             placeholder="Enter old {{name}}" type="{{name.toLowerCase()}}">
      <input #input autocomplete="section-{{name.toLowerCase()}} new-{{name.toLowerCase()}}"
             placeholder="Enter a new {{name}}" type="{{name.toLowerCase()}}">
      <input #input_repeat (input)="compareInputs()"
             *ngIf="repetitionOnUpdate" autocomplete="section-{{name.toLowerCase()}} new-{{name.toLowerCase()}}"
             placeholder="Repeat new {{name}}"
             type="{{name.toLowerCase()}}">
    </div>
    <button class="icon-button">done</button>
  </form>
</div>

