
.text-display, .form-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text-display {
  align-items: center;
}

.form-display {
  align-items: flex-end;
}

input {
  flex-grow: 1;
}

.text-field {
  display: flex;
  align-items: center;
  align-content: center;
}

.flex-row {
  display: flex;
}

.property-box {
  margin-top: 16px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
