
.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-link{
  width: 200px;
  color: black;
}

.profile-link:hover{
  border-bottom: 2px solid transparent;
}
